<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
   <title>Page Title</title>
</head>
<body>
    <nav class="navbar dark p-3 bg-primary shadow-lg">
  <div class="container-fluid">
    <form class="d-flex"role="search"></form>
   {% if request.user.is_authenticated %}
      <a href="/logout/" class="btn btn-outline-success" type="submit">logout</a>
    {% else %}
     <a href="/login/" class="btn btn-outline-success" type="submit">login</a>
     {% endif %}
    </form>
  </div>
</nav>
   <header>
       <h1></h1>
   </header>
   <section>
       <p></p>
       {% block content %}
       {% endblock %}
   </section>
   <footer>
       <p></p>
   </footer>
</body>
</html>